.wp-block-group {
  &.inhouse {
    margin-top: 4rem;
    margin-bottom: 2rem;

    @include mq('tablet', 'min') {
      margin-top: 6rem;
      margin-bottom: 2rem;
    }

    .wp-block-group__inner-container {
      @include inner-container;
      padding-bottom: 0 !important;

      & > h2 {
        font-family: $playfair;
        margin-left: 2rem; // section heading
        margin-right: 0;

        @include mq('tablet-wide', 'min') {
          margin-left: 6rem; // section heading
          margin-right: 6rem;
        }

        span {
          font-family: $playfair;
        }
      }

      .intro-columns.wp-block-columns {
        // padding-right: 6rem;
        align-items: center;

        @include mq('tablet-wide', 'min') {
          padding-right: 6rem;
        }

        .wp-block-column {
          &:last-child {
            max-width: 300px;

            p {
              margin: 0;
              @include paragraph-as-button;

              &.btn--small {
                margin-top: 2rem;
              }

            }
          }
          &:first-child {
            flex-grow: 2;
          }
        }
        p {
          margin: 0;
          @include paragraph('italic');

          @include mq('tablet','min') {
            margin: 0 6rem;
          }
        }
      }

      & > p {
        margin: 0 6rem;
        @include paragraph('italic');

        @include mq('tablet','min') {
          width: 50%;
        }
      }
    }

    h2 {
      color: $blue-dark-fresh;
      @include heading-h2;
    }
  }
}

/* ----------------------------------------
  INHOUSE EXAMPLE COLUMNS / CARDS
---------------------------------------- */

.wp-block-group{
  &.inhouse {

    .wp-block-columns {
      margin: 3rem 2rem 0rem;

      @include mq('tablet', 'min') {
        margin: 5rem 2rem 0rem;
      }

      .wp-block-column {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
