.homepage-portfolio-list {
  &__inner {
    display: block;
    width: 100%;
    padding-bottom: 2rem;
    overflow: scroll;

    @include mq('tablet-wide', 'min') {
      display: flex;
    }
  }
}

/* ----------------------------------------
  THE SEPERATE ITEMS IN THE LIST
---------------------------------------- */
.homepage-portfolio-list {
  .portfolio-item {
    min-width: 60%;
    margin-right: 2rem;
    margin-left: 2rem;

    @include mq('tablet-wide','min') {
      margin-left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &__image {
      @include transition(all, 0.5s, $default-easing, 0.2s);
    }

    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        .portfolio-item__image {
          @include transition(all, 0.5s, $default-easing, calc(0.2s + #{$i * .3}s));
        }
      }
    }

    &__image {
      height: 496px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

      &.is-intersected {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      img {
        height: auto !important;
        width: auto;
      }
    }
    &__title {
      margin-top: 5rem;

      h3 {
        @include position;
        color: $blue-light;
        font-size: 32px;
        font-weight: 800;
        width: calc(100% - 6rem);
        margin: 0 auto;

        &:before {
          content: '';
          width: 16px;
          height: 1px;
          background-color: $blue-light;
          @include position(absolute, -32px, 15px);
        }
      }
    }
    &__content {
      display: block;
      align-items: center;
      width: calc(100% - 2rem);
      margin: 0 auto;
      margin-top: 3rem;

      @include mq('tablet-wide','min') {
        display: flex;
        width: calc(100% - 10rem);
      }
    }
    &__desc {
      font-family: $noto;
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: $blue-dark;
      padding-right: 64px;
    }

    &__action {
      min-width: 190px;
      display: flex;
      margin-top: 2rem;
      margin-left: 1rem;

      @include mq('tablet','min') {
        margin-top: 0;
        margin-left: 0;
        justify-content: right;
      }
    }
  }
}