.homepage-portfolio-highlight {
  margin-top: 3rem;
  margin-bottom: 5rem;

  &__inner {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .portfolio-item {
    padding: 0 2rem;

    @include mq('tablet-wide', 'min') {
      padding: 0;
    }

    &__image {
      display: flex;
      height: 500px;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      @include transition(all, 0.5s, $default-easing, 0.3s);
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);


      &.is-intersected {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      img {
        height: auto !important;
      }
    }
    &__content-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
    }

    &-content__inner {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      margin-top: 2rem;
      padding-left: 2rem;

      @include mq('tablet-wide', 'min') {
        grid-template-columns: 1fr 1.3fr 1fr;
      }
    }

    &__title {

      h3 {
        @include position;
        color: $blue-light;
        font-size: 32px;
        font-weight: 800;
        width: calc(100% - 6rem);
        margin: 0 auto;

        &:before {
          content: '';
          width: 16px;
          height: 1px;
          background-color: $blue-light;
          @include position(absolute, -32px, 15px);
        }
      }
    }

    &__content {
      width: 100%;
      margin: 0 auto;

      @include mq('tablet-wide', 'min') {
        width: calc(100% - 10rem);
      }
    }

    &__desc,
    &__subtitle {
      font-family: $noto;
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: $blue-dark;
      padding-right: 64px;
    }

    &__subtitle {
      display: none;

      @include mq('tablet-wide', 'min') {
        min-width: 40%;
        display: block;
      }
    }

    &__action {
      margin: 2rem 0 0 1rem;
      flex-grow: 2;

      @include mq('tablet','min') {
        text-align: right;
        flex-grow: 2;
        margin: 0;
      }
    }
  }
}