.hero.hero--homepage {
  overflow: hidden;
  background: white;

  .hero__background {
    height: 100vh;
    overflow: hidden;
  }

  .hero__inner {
    @include position(relative);
    max-width: 72rem;
    margin: 0 auto;
    height: 100vh;
    @include flex-center;
    justify-content: flex-start;

    .hero-content-wrapper {
      @include position;
    }
  }

  .hero__actions {
    margin-left: 9rem;
    margin-top: 3rem;
  }

  .hero__text {
    padding-top: 6rem;
  }

  .hero--portfolio-item__image.is-loaded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;

    img {
      transform: translateX(0);
      object-position: right;
      @include objectFit;
    }
  }
}

/* ----------------------------------------
  ANIMATED TEXT
---------------------------------------- */
.hero--homepage {
  .hero__text {
    display: flex;
    font-size: 2.5rem;
  }

  .animated-text--static {
    font-family: $playfair;
    font-weight: 900;
    font-style: italic;
    color: $blue-light;
    margin-right: 0.3ch;
  }

  .animated-text--animated {
    font-family: $inter;
    font-weight: 900;
    letter-spacing: -2px;
    color: lighten($blue-dark, 10%);
  }

  .animated-text--container {
    @include position;
    @include transition(all, 1s, $default-ease-in-out);
    padding-top: 3px;

    span {
      @include position(absolute);
      min-width: 600px;
      font-family: $inter;
      font-weight: 900;
      letter-spacing: -2px;
      color: lighten($blue-dark, 10%);
      @include transition(all, 1s, $default-ease-in-out);
      opacity: 0.01;
      transform: scale(0.8);
      transform-origin: left center;

      &.active {
        opacity: 1;
        transform: scale(1);
      }

      &.italic {
        font-family: $playfair;
        font-style: italic;
      }

    }

    @for $i from 1 through 50 {
      span:nth-child(#{$i}) {
        top: 100px + $i * -100px;
      }
    }
  }
}

/* ----------------------------------------
  HERO IMAGE LOADER PROGRESS
---------------------------------------- */

.hero--homepage {
  .hero--portfolio-item-loader {
    @include position(absolute);
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: $blue-very-dark;
    z-index: 100;
    @include transition;

    div {
      height: 100%;
    }

    &__progress {
      @include transition;
      width: 0%;
      background-color: $blue-dark-fresh;
    }

    &.is-loaded {
      height: 0;
    }
  }
}