.hero.hero--homepage {
  overflow: hidden;
  background: white;
  padding-top: 0;

  .hero__background {
    height: 100vh;
    overflow: hidden;
  }

  .hero__inner {
    @include position(relative);
    max-width: 72rem;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .hero-content-wrapper {
      @include position;
    }

    @include mq('tablet','min') {
      @include flex-center;
      padding-top: 0rem;
      padding-bottom: 0rem;
      justify-content: flex-start;
    }
  }

  .hero__actions {
    margin-left: 9rem;
    margin-top: 3rem;
  }

  .hero__text {
    padding-top: 6rem;
  }

  .hero--portfolio-item__image.is-loaded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;

    img {
      transform: translateX(0);
      object-position: right;
      @include objectFit;
    }
  }
}

/* ----------------------------------------
  ANIMATED TEXT
---------------------------------------- */
.hero--homepage {
  .hero__text {
    font-size: 1.5rem;

    @include mq('tablet-wide', 'min') {
      font-size: 2.5rem;
      display: flex;
    }
  }

  .animated-text--static {
    font-family: $playfair;
    font-weight: 900;
    font-style: italic;
    color: $blue-light;
    margin-right: 0.3ch;
    margin-bottom: 1ch;
  }

  .animated-text--animated {
    font-family: $inter;
    font-weight: 900;
    letter-spacing: -2px;
    color: lighten($blue-dark, 10%);
  }

  .animated-text--container {
    @include position;
    @include transition(all, 1s, $default-ease-in-out);
    padding-top: 3px;
    width: 600px;

    div {
      @include position(absolute);
      min-width: 600px;
      min-height: 100px;
      display: block;
      font-family: $inter;
      font-weight: 900;
      color: lighten($blue-dark, 10%);
      @include transition(all, 1s, $default-ease-in-out);
      opacity: 0.0;

      .char {
        height: 80px!important;
      }

      &.active {
        opacity: 1;
        transform: scale(1);
      }

      &.italic {
        font-family: $playfair;
        opacity: 1;

        span {
          height: 80px;
        }
      }

      &:last-child {
        font-family: $playfair;
        font-style: italic;
      }
    }

    @for $i from 1 through 50 {
      span:nth-child(#{$i}) {
        // top: 100px + $i * -100px;

        span {
          top: auto;
          left: auto;
          height: 80px;
        }
      }
    }
  }
}

/* ----------------------------------------
  HERO IMAGE LOADER PROGRESS
---------------------------------------- */

.hero--homepage {
  .hero--portfolio-item-loader {
    @include position(absolute);
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: $blue-very-dark;
    z-index: 100;
    @include transition;

    div {
      height: 100%;
    }

    &__progress {
      @include transition;
      width: 0%;
      background-color: $blue-dark-fresh;
    }

    &.is-loaded {
      height: 0;
    }
  }
}