.hero--homepage {
  .hero__actions {
    margin-left: 9rem;
    margin-top: 3rem;
  }

  .hero__text {
    padding-top: 6rem;
  }
}

/* ----------------------------------------
  ANIMATED TEXT
---------------------------------------- */
.hero--homepage {
  .hero__text {
    display: flex;
    font-size: 2.5rem;
  }

  .animated-text--static {
    font-family: $playfair;
    font-weight: 900;
    font-style: italic;
    color: $blue-light;
    margin-right: 0.3ch;
  }

  .animated-text--animated {
    font-family: $inter;
    font-weight: 900;
    letter-spacing: -2px;
    color: lighten($blue-dark, 10%);
  }
}

/* ----------------------------------------
  TEST - DELETE AFTER USE
---------------------------------------- */

.intersect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  @include position;

  &__background {
    @include position(absolute);
    width: 100%;
    height: 100%;
    transform: scale(0.6);
    transform-origin: center;
    background: $blue-dark;
    color: #fff;
    @include transition(all, 1s)
  }

  .center {
    @include position;
    z-index: 3;
    color: #fff;
  }


  &.bigger {
    .intersect__background {
      transform: scale(1);
    }
  }
}