.hero--portfolio-item {
  display: block;
  background: white;
  height: 200vh;

  @include mq('tablet', 'min') {
    height: 100vh;
  }

  &__inner {
    @include inner-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0px solid #000;
    height: 100%;
    padding: 0;
    text-align: left;

    @include mq('tablet', 'max') {
      padding-top: 100vh;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include position;
    z-index: 3;

    & > div {
      margin-bottom: 3rem;
    }
  }


  &__title {
    font-family: $playfair;
    font-weight: 900;
    color: $blue-dark;
    font-size: 42px;
    margin-left: 2rem;
  }

  &__subtitle {
    font-family: $noto;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    line-height: 160%;
    color: $blue-dark;
    font-size: 12px;
    @include position;
    margin-left: 1rem;

    @include mq('tablet', 'min') {
      margin-left: 0;
    }

    &:before {
      @include before-line-small;
    }
  }

  &__excerpt {
    p {
      @include paragraph;
      margin-left: 2rem;
    }
  }

  &__image {
    @include position(absolute);
    z-index: 2;
    width: 100%;
    height: calc(100vh - 0.5rem);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    overflow: hidden;
    @include transition;

    @include mq('tablet', 'min') {
      height: 100vh;
      clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    }

    img {
      @include position(absolute);
      @include transition(transform, 0.5s);
      min-width: calc(100vw + 6rem);
      min-height: 100vh;
      object-fit: cover;
      object-position: left center;
      transform: translateX(-96px);
    }

    &.is-loaded {
      clip-path: polygon(00% 0, 100% 0%, 100% 100%, 00% 100%);

      @include mq('tablet', 'min') {
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
      }
    }

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      img {
        transform: translateX(0);
      }
    }
  }

  &__image-border {
    border: 8px solid white;
    @include position(absolute);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
  }

  &__image-progress {
    height: 10px;
    width: 100%;
    background-color: $blue-dark;
    z-index: 200;
    @include position;
  }

  /* ----------------------------------------
    HERO LOADER AND PROGRESS
  ---------------------------------------- */
  .hero--portfolio-item-loader {
    @include position(absolute, 0%);
    background: #E7F5F5;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;

    @include mq('tablet', 'min') {
      @include position(absolute, 50%);
    }

    &__base {
      background-color: white;
      border-radius: 5px;
      height: 9px;
      width: 320px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      @include transition;
    }

    &__progress-wrapper  {
      width: 316px;
      padding: 2px;
    }

    &__progress {
      height: 5px;
      width: 0%;
      border-radius: 5px;
      background: $blue-very-dark;
      @include transition;
    }

    &.is-loaded {
      background: white;
      .hero--portfolio-item-loader__base {
        opacity: 0;
        transform: translateY(20px);
      }
    }
  }
}