.hero--portfolio-item {
  display: block;
  background: white;

  &__inner {
    @include inner-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0px solid #000;
    height: 100%;
    padding: 0;
    text-align: left;
  }

  &__content {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include position;
    z-index: 3;

    & > div {
      margin-bottom: 3rem;
    }
  }


  &__title {
    font-family: $playfair;
    font-weight: 900;
    color: $blue-dark;
    font-size: 42px;
    margin-left: 2rem;
  }

  &__subtitle {
    font-family: $noto;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: $blue-dark;
    font-size: 12px;
    @include position;

    &:before {
      @include before-line-small;
    }
  }

  &__excerpt {
    p {
      @include paragraph;
      margin-left: 2rem;
    }
  }

  &__image {
    @include position(absolute);
    width: 100%;
    height: 100vh;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
    overflow: hidden;
    @include transition;

    img {
      @include position(absolute);
      @include transition(transform, 0.5s);
      min-width: 100vw;
      min-height: 100vh;
      object-fit: cover;
      object-position: left center;
      transform: translateX(-96px);
    }

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      img {
        transform: translateX(0);
      }
    }
  }

  &__image-border {
    border: 8px solid white;
    @include position(absolute);
    width: 100vw;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }

  &__image-progress {
    height: 10px;
    width: 50%;
    background-color: $blue-dark;
    z-index: 200;
    @include position;
  }
}