.site-header {
  @include position(fixed);
  height: auto;
  z-index: 999;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  .site-branding {
    order: 2;
  }

  .navigation {
    order: 1;
  }
}