.navigation {
  @include position;

  &__trigger {
    border: 0;
    background: transparent;
    width: 48px;
    height: 48px;
    padding: 10px 0;
    cursor: pointer;
    mix-blend-mode: exclusion;



    span {
      @include position(absolute, 0, 12px);
      @include transition;
      width: 32px;
      height: 1px;
      background: $blue-dark-fresh;
      display: block;

      &:nth-child(1) {
        top: 22px;
        width: 24px;
      }
      &:nth-child(2) {
        top: 32px;
      }
    }

    &:hover {
      span:nth-child(2) {
        width: 28px;
      }

      span:nth-child(1) {
        width: 32px;
      }
    }
  }

  .primary-menu-container {
    display: none;

    &.is-open {
      display: flex;
    }
  }
}

/* ----------------------------------------
  SECONDARY NAV AT BOTTOM OF VIEWPORT
---------------------------------------- */

.secondary-navigation-wrapper {
  padding: 0 4rem 0 3rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // The actual UL-list
  .secondary-menu-wrapper {
    display: flex;

    .menu-item {
      &:not(:last-child){
        margin-right: 2rem;
      }
      a {
        font-family: $playfair;
        font-weight: 900;
        font-size: 18px;
        color: white;
        text-decoration: none;
        text-transform: lowercase;
        @include transition;

        &:hover {
          color: $blue-dark;
        }
      }

      &.current-menu-item {
        a {
          color: $blue-dark;
        }
      }
    }
  }

  .logo {
    @include position;
    &:after {
      @include pseudo;
      left: auto;
      right: -130px;
      top: 50%;
      height: 1px;
      width: 115px;
      background-color: #fff;
    }
  }
}