.navigation {
  @include position;
  pointer-events: auto;

  &__trigger {
    border: 0;
    background: transparent;
    width: 48px;
    height: 48px;
    padding: 10px 0;
    cursor: pointer;
    mix-blend-mode: exclusion;
    @include position;
    z-index: 3000;
    pointer-events: auto;


    span {
      @include position(absolute, 0, 12px);
      @include transition;
      width: 32px;
      height: 1px;
      background: $blue-dark-fresh;
      display: block;
      transform-origin: 0% 0%;

      &:nth-child(1) {
        top: 22px;
        width: 24px;
      }
      &:nth-child(2) {
        top: 32px;
      }
    }

    &:hover {
      span:nth-child(2) {
        width: 28px;
      }

      span:nth-child(1) {
        width: 32px;
      }
    }

    &:focus {
      outline: none;
    }

    &.is-open {
      mix-blend-mode: normal;

      span:nth-child(3) {
        transform: rotate(45deg);
        top: 10px;
      }
      span:nth-child(1) {
        transform: rotate(45deg);
        opacity: 0;
      }
      span:nth-child(2) {
        transform: rotate(-45deg)
      }
    }
  }

  .menu-container-wrapper {
    width: 100vw;
    height: 100vh;
    @include position(fixed);
    background: $pink;
    transform: translateY(-100%);

    /* ----------------------------------------
      OPEN STATE
    ---------------------------------------- */

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(0%);

      .primary-menu-container {
        .menu-item {
          .item__inner {
            transform: translateY(0rem);
          }
        }
      }
    }
  }

  /* ----------------------------------------
    SOCIAL ICONS
  ---------------------------------------- */

  .socials-wrapper {
    @include position;
    transform: translateX(-48px);
    margin-top: 2rem;
    z-index: 4;

    ul {
      display: flex;
    }

    .socials__item {
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      border: 1px solid lighten($pink, 100%);
      margin-right: 0.3rem;
      transform: scale(0.8);
      @include transition;

      a {
        @include flex-center;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background: lighten($pink, 100%);

        svg {
          stroke: $pink;
        }
      }
    }

    .socials__icon {
      @include position;
    }

    /* ----------------------------------------
      FINETUNING ICON POSITIONS
    ---------------------------------------- */

    .socials__item {
      &.instagram, &.twitter {
        .socials__icon {
          top: 3px;
        }
      }
    }

    /* ----------------------------------------
      LABEL & SVG
    ---------------------------------------- */
    .socials__label {
      @include screenreader;
    }

    svg {
      stroke-width: 1px;
      stroke: lighten($pink, 100%);
    }
  }

  .primary-menu-container {
    // @include position(absolute, 0, 0);
    // width: 100vw;
    // height: 100vh;
    // background: $pink;
    display: flex;
    // transform: translateY(-100%);


    .menu-item{
      margin-bottom: 2rem;
      display: block;
      height: 3rem;
      overflow: hidden;

      &:hover {
        .item__inner {
          transform: translateY(1rem) !important;
          opacity: 0.8;
        }
      }


      a{
        color: #fff;
        font-family: $playfair;
        // font-style: italic;
        text-decoration: none;
        font-weight: 900;
        font-size: 48px;
      }
    }

    @for $i from 1 through 10 {
      .menu-item:nth-child(#{$i}) {
        .item__inner {
          display: block;
          transform: translateY(4rem);
          @include transition(all, 0.2s, $default-easing);

          transition-delay: 0s + ($i * 0.05s);
        }
      }
    }
  }
}

/* ----------------------------------------
  SECONDARY NAV AT BOTTOM OF VIEWPORT
---------------------------------------- */

.secondary-navigation-wrapper {
  background: $blue-light;
  padding: 0 4rem 0 3rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include position;
  z-index: 4;

  // The actual UL-list
  .secondary-menu-wrapper {
    display: flex;

    .menu-item {
      &:not(:last-child){
        margin-right: 2rem;
      }
      a {
        font-family: $playfair;
        font-weight: 900;
        font-size: 18px;
        color: white;
        text-decoration: none;
        text-transform: lowercase;
        @include transition;

        &:hover {
          color: $blue-dark;
        }
      }

      &.current-menu-item {
        a {
          color: $blue-dark;
        }
      }
    }
  }

  .logo {
    @include position;
    &:after {
      @include pseudo;
      left: auto;
      right: -130px;
      top: 50%;
      height: 1px;
      width: 115px;
      background-color: #fff;
    }
  }
}