
@import
  'abstract/reset',
  'abstract/fonts',
  'abstract/colors',
  'abstract/mixins/headings',
  'abstract/breakpoints',
  'abstract/layout',
  'abstract/mixins/a11y',
  'abstract/mixins/images',
  'abstract/mixins/mq',
  'abstract/mixins/position',
  'abstract/mixins/pseudo',
  'abstract/mixins/flex',
  'abstract/mixins/paragraph',
  'abstract/mixins/scrollbar',
  'abstract/mixins/transitions';

@import
  'components/title-element',
  'components/work/card-work',
  'components/work/nutshell-list',
  'components/about/card--about',
  'components/button';

@import
  'layout/base/base',
  'layout/header/header',
  'layout/header/navigation',
  'layout/content/content',
  'layout/footer/footer',
  'layout/hero/base-hero',
  'layout/hero/portfolio-item-hero',
  'layout/hero/about-hero',
  'layout/hero/work-hero',
  'layout/hero/prices-hero',
  'layout/hero/contact-hero',
  'layout/hero/services-hero',
  'layout/hero/homepage-hero';

  @import
  'sections/portfolio-list/portfolio-list',
  'sections/portfolio-list/portfolio-highlight',
  'sections/pricing/pricing',
  'sections/inhouse/inhouse',
  'sections/cta/cta',
  'sections/services/columns-list',
  'sections/instagram/sb-instagram',
  'sections/gigantic/gigantic';

  @import
    'views/homepage/homepage',
    'views/about/about',
    'views/work/work',
    'views/services/services',
    'views/contact/contact',
    'views/portfolio-item/portfolio-item';

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px; // 1rem
  scroll-behavior: smooth;
}
