
@import
  'abstract/fonts',
  'abstract/mixins/a11y',
  'abstract/mixins/mq',
  'abstract/mixins/position',
  'abstract/mixins/pseudo',
  'abstract/mixins/transitions';

@import
  'layout/navigation/header',
  'layout/hero/base-hero',
  'layout/hero/homepage-hero';



html, body {
  padding: 0;
  margin: 0;
  font-size: 16px; // 1rem
  scroll-behavior: smooth;
}
