
@import
  'abstract/reset',
  'abstract/fonts',
  'abstract/colors',
  'abstract/breakpoints',
  'abstract/mixins/a11y',
  'abstract/mixins/mq',
  'abstract/mixins/position',
  'abstract/mixins/pseudo',
  'abstract/mixins/transitions';

@import
  'components/button';

@import
  'layout/header/header',
  'layout/header/navigation',
  'layout/hero/base-hero',
  'layout/hero/homepage-hero';



html, body {
  padding: 0;
  margin: 0;
  font-size: 16px; // 1rem
  scroll-behavior: smooth;
}
