/* ----------------------------------------
  CARD
---------------------------------------- */

.work-card {
  min-width: 45%;
  height: 450px;
  @include position;
  @include transition(all, 0.5s, $default-easing);

  &:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  }

  &__image {
    @include position(absolute);
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__description {
    @include position(absolute, 0, auto, auto, 0);
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    padding: 2rem;
    opacity: 1;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    @include transition(all, 0.4s, $default-easing, 1s);

    .brand {
      margin-bottom: 2rem;
      opacity: 0;
      transform: translateY(20px);
      @include transition(all, 0.4s, $default-easing, 1.3s);

      h3 {
        color: white;
        font-family: $inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 160%;
      }
    }

    .roles {
      color: white;
      font-family: $noto;
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
      line-height: 160%;
      opacity: 0;
      transform: translateY(30px);
      @include transition(all, 0.4s, $default-easing, 1.6s);
    }
  }
}

/* ----------------------------------------
  WRAPPER FOR INTERSECTION OBSERVER
---------------------------------------- */

.work-card--wrapper {
  &.is-intersected {
    .work-card__description {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

      .brand,
      .roles {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}