/* ----------------------------------------
  Simplifies adding a Pseudo (:before and :after) element

  Usage: @include pseudo();

---------------------------------------- */

@mixin pseudo() {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

@mixin before-line-small {
  content: '';
  position: absolute;
  left: -24px;
  top: 10px;
  height: 1px;
  width: 16px;
  background-color: $blue-dark-fresh;
  margin-top: -1px;
}