.page-template-page-work {
  background-color: white;

  .work-list {
    &__inner {
      @include position;
      @include inner-container;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}

