.portfolio-first-block {
  background-color: #E9F5F5;
  background: $blue-light;

  .wp-block-group__inner-container {
    @include inner-container;
    height: 100%;

    @include mq('tablet','min') {
      padding-top: 12rem;

    }
  }

  .wp-block-columns {
    height: 100%;
    align-content: stretch;
  }

  .wp-block-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include position;

    h2 {
      @include heading-h2;
      padding-top: 3rem;
      color: $pink;
    }

    p {
      @include paragraph;

      @include mq('tablet', 'min') {
        max-width: 420px;
      }
    }
  }

  .wp-block-column {
    .wp-block-image {
      @include position(absolute);
      top: -4rem;

      img {
        height: auto;
      }
    }
  }
}

/* ----------------------------------------
  CONTAINS STYLES FOR DISPLAYING IMAGES AND
  TEXT ON PORTFOLIO DETAILS PAGES
---------------------------------------- */

.portfolio-item {
  &--image {
    .wp-block-group__inner-container {
      max-width: none;
      padding-top: 8rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &--shadowed-image {
    .wp-block-group__inner-container {
      //@include inner-container;
      max-width: none;
      padding-top: 8rem;

      img {
        width: 100%;
        box-shadow: 0px -20px 26px rgba(0, 0, 0, 0.14);
        height: auto;
      }
    }
  }
}

.portfolio-item--image-media {
  .wp-block-group__inner-container {
    background: $pink;
    background: darken(#E5E5E5, 30%);
  }

  &.logos {
    .wp-block-group__inner-container {
      // background: darken(#E5E5E5, 30%);
      background: #E5E5E5;
    }

    h3, p {
      color: $blue-very-dark;
    }
  }

  &.daniel-dark {
    .wp-block-group__inner-container {
      background: #9EA190;
    }
  }

  &.tst {
    .wp-block-group__inner-container {
      background: darken(#152228, 2%);
    }
  }

  &.minemark-donate {
    .wp-block-group__inner-container {
      background: $blue-very-dark;
    }
  }

  &.minemark-logo {
    .wp-block-group__inner-container {
      background-color: white;

      h3, p {
        color: $blue-very-dark;
      }
    }
  }

  .wp-block-columns {
    margin: 0;
  }

  .wp-block-column {
    border-image-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    min-width: 50%;
    margin-left: 0 !important;

    &.content {
      padding: 8rem 0;
    }

    figcaption {
      display: none;
    }

  }

  figure {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: right top;
    height: 100%;
    width: 100%;
  }

  h3 {
    @include slanted-content;
    font-size: 48px;
    font-weight: 900;
    color: white;
    width: 80%;
    margin-bottom: 3rem;
    line-height: 120%;
  }

  p {
    @include paragraph;
    color: white;
    max-width: 80%;
    width: 80%;
    display: inline-block;
    margin-left: 4rem;

    a {
      color: inherit;
      text-decoration: underline;
    }

  }
}

.single-portfolio {
  .portfolio-item__summary {
    .wp-block-group__inner-container {
      @include inner-container;
      max-width: 35rem;

      h2 {
        @include heading-h2;
        font-family: $playfair;
        font-style: italic;
        color: $blue-very-dark;
        margin-left: -4rem;
      }

      p {
        @include paragraph;
        margin-bottom: 2ch;

        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}

/* ----------------------------------------
  TITLE ELEMENT (MOVE TO GENERIC ITEM
---------------------------------------- */
.single-portfolio {
  .title-element--with-subtitle {
    h2, h6 {
      color: $blue-very-dark;
    }

    h2 {
      font-family: $playfair;
      font-style: italic;
    }
  }
}